.login{
    display: flex;
    
    .loginImgContainer{
        display: flex;
        flex: 1;
        flex-direction: column;

        justify-content: center;        
        img{
            width:80% ;
        }
    }
    .loginTxtContainer{
        display: flex;
        flex: 1;
        flex-direction:column
    }
}